<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>TCC - Alertas</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <h1>Alertas en tiempo real</h1>

  <div class="barra-superior">
    <button class="btn" onclick="location.href='https://tccweb.my.canva.site/'">← Volver</button>
    <button class="btn primario" onclick="location.href='/login'">Admin</button>
  </div>

  <div id="contenedor-alertas"></div>

  <script src="/static/alertas.js"></script>
</body>
</html>
